/* pie de pagina */
  
footer{
    background-color: #134B70;
    padding: 70px 30px 20px;
    margin: auto;
    margin-bottom: -30px;
  }
  .social-icons{
  display:flex;
  justify-content: center;
  }
  .social-icons a{
  text-decoration: none;
  padding:10px;
  background-color: #ffff;
  margin:10px;
  border-radius: 50%;
  
  }
  .social-icons a i{
  font-size: 2em;
  color:#000;
  opacity:0.9;
  }
  /*
  .gm-soluciones{
  background-image: url('../../assets/img/gm\ soluciones.jpeg');
  }*/
  /* efecto hover*/
  .social-icons a:hover{
  background-color: #134B70;
  transition: 0.5s;
  
  }
  
  .social-icons a:hover i{
  color: #ffff;
  transition: 0.5s;
  }
  /* menu de navegacion de pie de pagina*/
  
  .footer-nav{
  margin: 30px 0;
  
  }
  .footer-nav ul{
  display: flex;
  justify-content:center;
  list-style: none;
  }
  .footer-nav ul li a {
  color:#ffff;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
  list-style: none;
  }
  .footer-nav ul li a:hover{
  opacity: 1;
  }
  .footer-bottom{
  
  padding: 20px;
  color: #fff;
  text-align: center;
  }
  .footer-bottom p{
  color: #fff;
  }
  .designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
  }
  .submenu-links li a{
     list-style: none;
  }

  @media (max-width:700px){
  .footer-nav ul{
      flex-direction: column;
  }
  .footer-nav ul li{
      width: 100%;
      text-align: center;
      margin: 10px;
  }
  }
  